# Ignore byte compiled files
*.pyc
*.log

log
dist
build

# Ignore Eclipse IDE files
.settings
.project
.pydevproject


*.egg-info
.directory

# Ignore linked resources
paypal
cmsproject/static
cmsproject/template
cmsproject/themes
cmsproject/media
