# Ignore byte compiled files
*.pyc
*.log

log
dist
build

# Ignore Eclipse IDE files
.settings
.project
.pydevproject


*.egg-info
.directory

# Ignore linked resources
paypal
cmsproject/static
cmsproject/media/filer
cmsproject/media/filer_thumbnails
cmsproject/media/themes_archives
